@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
   font-family: 'Kumbh Sans', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.cardSection{
   background-color:  hsl(0, 0%, 100%);
   padding: 0 30px;
}
.cardContainer{
   background-color: hsl(198, 40%, 53%);
   height: 100%;
   overflow: hidden;
   
}

.background{
   width: 100%;
   height: 100%;
   position: relative;
}

.ball{
   
   --ball-size: 750px;
   position: absolute;
   width: var(--ball-size);
   height: var(--ball-size);
}

.topBall{
   
   top: -350px;
   left: -100px;
   
}

.botBall{
   right: -100px;
   bottom: -1070px;
}
.topBacground{
   display: flex;
   flex-direction: row;
   
}

.card{
   
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 100px;
}

.cardBackground{
   background-color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   border-radius: 20px;
   width:min-content;
   margin: 20px 70px;
   box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.568);
   overflow: hidden;
   
}

.botBackground{
   
   width: 45%;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.imageProfile{
   border-radius: 50%;
   position: relative;
   top: -50px;
   
}

.infoProfile{
   position: relative;
   top: -30px;
   text-align: center;
   align-items: center;
}

.nameAge{
   display: flex;
   flex-direction: row;
   width:fit-content;
   margin-left: 60px;
}

.age{
   margin-left: 10px;
   font-weight: lighter;
   color: hsl(219, 12%, 42%);
}

.country{
   font-weight: lighter;
   color: hsl(219, 12%, 42%);
}

.countInfoContainer{
   display: flex;
   flex-direction: row;
   padding: 15px;
}

.infoCard{
   
   margin: 15px;
}

.infoLetters{
   
   font-weight: lighter;
   font-size: small;
}